{% extends "base.html" %}
{% block css %}
{% load staticfiles %}
<link href="{% static "css/admin.css" %}" rel="stylesheet">
<link href="{% static "css/blog.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item" href="/">首页</a>
        <a class="blog-nav-item active" href="/admin/">后台</a>
      </nav>
    </div>
  </div>

  <div class="container blog-admin">
    <button type="button" class="btn btn-primary btn-lg" onclick="javascript:location.href='/article/new/'">添加新文章</button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>题目</th>
            <th>日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="/article/edit/{{ article.id }}">{{ article.title }}</a></td>
          <td>{{ article.date_time }}</td>
          <td><a href="/article/del/{{ article.id }}">删除</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <nav class="text-center">
      <ul class="pagination">
        {% if articles.has_previous %}
        <li>
        <a href="?page={{ articles.previous_page_number }}">
          {% else %}
          <li class="disabled">
          <a href="#">
            {% endif %}
            上一页
          </a>
          </li>
          {% if articles.has_next %}
          <li>
          <a href="?page={{ articles.next_page_number }}">
            {% else %}
            <li class="disabled">
            <a href="#">
              {% endif %}
              下一页
            </a>
            </li>
          </ul>
        </nav>
  </div>
{% endblock %}

